<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="testing urbanladder.com">
<parameter name="browser" value="Chrome"/>
  <test name="verifying Bookshelves">
  <classes>
  <class name="com.selenium.hackathon.DisplayBookShelves"></class>
  </classes>
      
    
     
  </test> <!-- Test -->
</suite> <!-- Suite -->